@import "../variables";

.conversation {
    position: relative;
    height: 50px;

    &:not(:first-of-type) {
        margin-top: 5px;
    }

    &:not(:last-of-type) {
        margin-bottom: 5px;
        border-bottom: $default-border;
    }

    text-decoration: none;
    cursor: pointer;

    display: flex;

    &:hover {background-color: $button-hover-color;}
    &:active {background-color: $button-active-color;}

    >.open-conversation {
        position: absolute;

        height: 80%;
        aspect-ratio: 1;

        right: 0;

        margin: $content-header-height * 0.1;
        padding: 5px;
        box-sizing: border-box;
        border-radius: $border-radius;

        >.open-icon {
            width: 100%;
            height: 100%;

            transform: scaleX(-1);
        }

        >.unseen-icon {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;

            width: 10px;
            aspect-ratio: 1;

            color: $chat-message-sent-background-color;
        }
    }
}