@import "../variables";

#feed {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#image-inspector {
    background-color: $popup-background-color;
    z-index: 1;
    
    cursor: pointer;
    user-select: none;

    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    >img {
        cursor: default;
        pointer-events: none;
        object-fit: contain;

        max-width: 70%;
        max-height: 80%;

        flex-grow: 1;
        text-align: center;
    }

    >.transparent-button {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;

        margin: 10px;
        border-radius: $border-radius;
    }
}