@import "../variables";

#content {
    scrollbar-width: none;
}

#feed {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    // apply a margin top to the feed if its a timeline
    &.timeline-feed {
        margin-top: 10px;
    }
}


#image-inspector {
    background-color: $popup-background-color;
    z-index: 1;
    user-select: none;

    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    >img {
        cursor: default;
        object-fit: scale-down;

        max-width: 70%;
        max-height: 80%;
    }

    >.transparent-button {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;

        margin: 10px;
        color: $icon-color;
        border-radius: $border-radius;
    }
}