@import "../variables";

.message {
    width: 100%;

    display: flex;
    flex-direction: column;

    font-size: 16px;
    
    p {margin: 0;}

    >.content {
        max-width: $chat-message-content-max-width;
        border-radius: $border-radius;

        display: flex;

        padding: 10px;
        box-sizing: border-box;

        word-break: break-word;
        white-space: normal;
    }

    >.date-sent {
        font-size: 12px;
        color: $secondary-font-color;
        margin: 2px 0 10px 0;

        max-width: $chat-message-content-max-width;

        word-break: break-all;
        white-space: normal;
    }

    &.sent {
        align-items: flex-end;
        >.content{background-color: $chat-message-sent-background-color;}
    }

    &.received {
        align-items: flex-start;
        >.content{background-color: $chat-message-received-background-color;}
    }
}
