@import "../variables";

.post {
    // if this post is being displayed in a timeline feed
    &.timeline-feed {
        cursor: pointer;
    }

    // apply a bottom border to all posts but the last one
    &:not(:last-of-type) {
        border-bottom: $default-border;
    }

    >.content {
        >.post-body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            color: $font-color;
        }

        >.img-container {
            position: relative;
            display: flex;
            align-items: center;

            width: 80%;
            aspect-ratio: 1;

            margin: 10px auto 10px auto;
            overflow: hidden;

            pointer-events: all;

            border-radius: $border-radius;
            border: $default-border;
            background-color: $background-color;

            >img {
                position: absolute;
                width: 100%;

                user-select: none;
            }

            >.click-through-preventer {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $background-color;
            }
        }

        >.engagement-strip {
            height: $feed-post-engagement-bar-height;
            width: 80%;
            margin: 0px auto $post-margin-right auto;

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            >div {
                display: flex;
                align-items: center;
                height: $feed-post-engagement-bar-height;

                color: $font-color;

                >.icon {
                    max-height: 100%;
                    aspect-ratio: 1;
                    margin-right: 6px;

                    border-radius: 100%;
                    padding: 2.5px;
                    box-sizing: border-box;
                }
            }
        }
    }
}