@import "../variables";

.post, .reply {
    padding-bottom: $post-reply-half-margin;

    &:not(:first-of-type) {
        padding-top: $post-reply-half-margin;
    }

    // if this post is part of a post-feed thats used in a timeline
    &.timeline-feed {
        cursor: pointer;
    }

    // apply a bottom border to all posts but the last one
    &:not(:last-of-type) {
        border-bottom: $default-border;
    }

    >.content {
        >.body {font-size: 16px;}

        >.img-container {
            position: relative;
            display: flex;
            align-items: center;

            width: 80%;
            aspect-ratio: 1;

            margin: 10px auto 10px auto;
            overflow: hidden;

            pointer-events: all;
            cursor: pointer;

            border-radius: $border-radius;
            border: $default-border;
            background-color: $background-color;

            >img {
                position: absolute;
                width: 100%;

                user-select: none;
            }
        }

        >.engagement-strip {
            height: $post-feed-post-engagement-bar-height;
            width: 80%;
            margin: 0px auto $post-margin-right auto;

            user-select: none;

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            >.active >* {color: $post-like-color;}

            >div {
                display: flex;
                align-items: center;
                height: $post-feed-post-engagement-bar-height;

                >.icon {
                    max-height: 100%;
                    aspect-ratio: 1;
                    margin-right: 6px;

                    border-radius: 100%;
                    padding: 2.5px;
                    box-sizing: border-box;
                }
            }
        }
    }
}