@import "../variables";

:has(>.pfp-strip) {
    display: flex;
    width: 100%;
}

.pfp-strip {
    min-width: $feed-post-pfp-strip-width;
    max-width: $feed-post-pfp-strip-width;

    margin: 0 2.5px 0 2.5px;

    >img {
        width: 100%;
        aspect-ratio: 1;
        
        padding: 3px;
        box-sizing: border-box;

        border-radius: 100%;
        object-fit: contain;
        font-size: 12px;
    }

    &~.content {
        flex-grow: 1;
        margin-right: $post-margin-right;
    
        p {margin: 0;}
    
        >.user {
            column-gap: 5px;
            align-items: end;

            height: $feed-post-pfp-strip-width/2;

            &.single-line {
                display: grid;
                grid-template-columns: auto auto 1fr;
            }

            >p {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            >.display-name {
                font-size: 18px;
            }

            >.username {
                font-size: 14px;
                color: $secondary-font-color;
            }

            >.meta-container {
                position: absolute;
                justify-self: end;
                align-self: end;
                display: flex;

                >.delete-button {
                    height: 17px;
                    aspect-ratio: 1;
                    margin-left: 7px;

                    border-radius: 100%;
                }
    
                >.date-posted {
                    font-size: 14px;
                    color: $secondary-font-color;
                }
            }
        }
    }
}
