<!DOCTYPE html>

<head>
    <title>{% block title %}Bitter{% endblock %}</title>

    <meta charset="utf-8">
    <meta lang="en">

    <link rel="shortcut icon", type="image/x-icon", href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='styles/base.css') }}">
    {% block style %}{% endblock %}
    <script src="{{ url_for('static', filename='scripts/form_manager.js') }}"></script>
    {% block script %}{% endblock %}
</head>

<body>
    {# define the CSRF token here to share it with all forms #}
    {{ post_creation_form.hidden_tag() }}
    
    <div id="post-popup" class="hidden">
        <div class="content">
            <h1>Create post</h1>
            <form id="post-creation-form" action="{{ url_for('create_post') }}" method="POST">
                {{ post_creation_form.post_body(placeholder = "Post body", id = "post-body-input") }}
                <label for="file"><br>Optionally upload an image (&lt;{{ post_max_image_size / (1024**2) }} MB)</label>
                <div class="image-upload">
                    {{ post_creation_form.image(id = "post-image-input") }}
                    <svg class="transparent-button"><use href="{{ url_for('static', filename='img/sprites.svg') }}#icon-x"></use></svg>
                </div>
                {{ post_creation_form.submit(class = "post-button") }}
            </form>
        </div>
        <svg class="transparent-button"><use href="{{ url_for('static', filename='img/sprites.svg') }}#icon-x"></use></svg>
    </div>

    <div id="sidebar">
        <a class="item transparent-button top-icon" href="{{ url_for('timeline') }}"><img class="icon" src="{{ url_for('static', filename='img/favicon_256.png') }}" alt="Website icon"></a>
        <a class="item transparent-button{{' active-item' if page_name == 'Timeline' else ''}}" href="{{ url_for('timeline') }}"><svg class="icon"><use href="{{ url_for('static', filename='img/sprites.svg') }}#icon-views"></use></svg>Home</a>
        <a class="item transparent-button{{' active-item' if page_name in ['Chat', 'Conversations'] else ''}}" href="{{ url_for('chat') }}"><svg class="icon"><use href="{{ url_for('static', filename='img/sprites.svg') }}#icon-chat"></use></svg>Chat</a>
        <a class="item transparent-button{{' active-item' if page_name == 'Profile' else ''}}" href="{{ url_for('profile') }}"><svg class="icon"><use href="{{ url_for('static', filename='img/sprites.svg') }}#icon-profile"></use></svg>Profile</a>
        <div id="post-button" class="item post-button">Post</div>
    </div>
    <div id="content">
        <div id="content-header" class="{{ 'back-button-disabled' if primary_page else '' }}">
            {% if not primary_page %}
            <a class="back-button" href="{{ referer if referer else url_for('timeline') }}" title="Back"><svg class="icon transparent-button"><use href="{{ url_for('static', filename='img/sprites.svg') }}#icon-back"></use></svg></a>
            {% endif %}
            {{ page_name }}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

<script>
    const global_flash_message_collection = document.getElementsByClassName("flash-message")
    const clear_global_flash_messages = () => {
        Array(...global_flash_message_collection)
            .forEach(element => element.remove())
    }

    const csrf_token_element = document.querySelector("#csrf_token")
    const csrf_token = csrf_token_element ? csrf_token_element.value : null

    // hide the post creation popup when the dimming-background is clicked
    const post_creation_popup = document.getElementById("post-popup")
    post_creation_popup.addEventListener("click", (event) => {
        post_creation_popup.classList.toggle("hidden")
    })

    // prevent clickthrough on the central content div on the post creation popup
    const post_creation_popup_content_div = post_creation_popup.querySelector(".content")
    post_creation_popup_content_div.addEventListener("click", (event) => {
        event.stopPropagation()
    })

    // hook up the form for creating new posts
    const post_creation_form = document.getElementById("post-creation-form")
    post_creation_form.reset()
    post_creation_form.addEventListener("submit", on_form_submit)
    post_creation_form.addEventListener("response_error", event => {
        // remove old error messages
        post_creation_popup_content_div.querySelectorAll(".flash-message")
            .forEach(element => element.remove())

        // add new error message
        event.detail.forEach(error_message => {
            post_creation_popup_content_div.insertAdjacentHTML("beforeend", `<p class="flash-message">${event.detail}</p>`)
        })
    })
    post_creation_form.addEventListener("response_success", event => {
        post_creation_popup.classList.add("hidden")
    })

    // hook up the button to open the post creation popup
    const post_button = document.getElementById("post-button")
    post_button.addEventListener("click", event => {
        // remove old error messages
        post_creation_popup_content_div.querySelectorAll(".flash-message")
            .forEach(element => element.remove())

        post_creation_form.reset()
        post_creation_popup.classList.toggle("hidden")
    })

    // clear the image-upload input-element's content when the X icon is pressed
    const post_creation_image_upload_parent = document.querySelector("#post-popup .content #post-creation-form .image-upload")
    post_creation_image_upload_parent.lastElementChild.addEventListener("click", () => {
        post_creation_image_upload_parent.firstElementChild.value = null
    })

    // modify the site layout depending on aspect ratio
    const sidebar = document.getElementById("sidebar")
    const content = document.getElementById("content")

    function update_layout() {
        const aspect_ratio = window.innerWidth / window.innerHeight
        if (aspect_ratio < 0.75) {
            sidebar.classList.add("layout-small")
            content.classList.add("layout-small")
        } else {
            sidebar.classList.remove("layout-small")
            content.classList.remove("layout-small")
        }
    }

    update_layout()
    window.addEventListener("resize", update_layout)
</script>
