{% extends "base.jinja2" %}

{% set primary_page = True %}
{% set page_name = "Profile" %}
{% set pfp_url = url_for("uploads", category = "user-pfps") ~ "/" ~ user_id ~ ".png" %}

{% block title %}Bitter - Profile{% endblock %}

{% block style %}
<link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block content %}

<div id="image-inspector" class="hidden">
    <img src="" alt="Profile-picture image">
    <svg class="transparent-button"><use href="{{ url_for('static', filename='img/sprites.svg') }}#icon-x"></use></svg>
</div>

<img id="pfp" class="hidden" src="{{ pfp_url }}" alt="User's profile picture">

<form id="update-profile-form" class="hidden" action="{{ url_for('update_profile') }}" method="PUT" enctype="multipart/form-data">
    <label for="pfp">Choose new profile picture (&lt;{{ max_pfp_size / (1024**2) }} MB)</label>
    {{ update_profile_form.pfp(accept="image/*", id = "pfp-input") }}
    <label for="display-name">Choose new display name</label>
    {{ update_profile_form.display_name(placeholder = "Display-name", id = "display-name-input") }}
    <label for="username">Usernames can't be changed</label>
    <input type="text" name="username" placeholder="@" maxlength="{{ username_max_len }}" disabled id="username-input">
    {{ update_profile_form.submit(id = "update-profile-button", class = "green-button") }}
</form>

<div id="signout-button" class="green-button hidden">Sign-out</div>

<div class="loading-icon"><svg><use href="{{ url_for('static', filename='img/sprites.svg') }}#icon-loading"></svg></div>

{% for message in get_flashed_messages() %}
<p class="flash-message">{{ message }}</p>
{% endfor %}

<script>
    const pfp_img = document.getElementById("pfp")
    const loading_icon = document.querySelector(".loading-icon")

    const update_profile_form = document.getElementById("update-profile-form")
    const display_name_input = document.getElementById("display-name-input")
    const username_input = document.getElementById("username-input")
    const signout_button = document.getElementById("signout-button")

    update_profile_form.reset()
    update_profile_form.addEventListener("submit", on_form_submit)
    update_profile_form.addEventListener("response_error", event => show_message(event.detail))
    update_profile_form.addEventListener("response_success", event => {
        const new_profile_data = event.detail
        show_message(new_profile_data["message"])

        // change the image element's url to reload the pfp image
        pfp_img.src = "{{ pfp_url }}#" + new Date().getTime()
    })

    signout_button.addEventListener("click", () => (
        window.location = "{{ url_for('signout') }}"
    ))

    // hook up the pfp-image inspector
    const image_inspector = document.getElementById("image-inspector")
    image_inspector.addEventListener("click", () => {
        image_inspector.classList.add("hidden")
        image_inspector.querySelector("img").src = ""
    })
    image_inspector.firstElementChild.addEventListener("click", (event) => {
        event.stopPropagation()
    })

    pfp_img.addEventListener("click", event => {
        event.stopPropagation()
        image_inspector.querySelector("img").src = "{{ pfp_url }}#" + new Date().getTime()
        image_inspector.classList.toggle("hidden")
    })

    function show_message(message) {
        // remove old messages
        clear_global_flash_messages()

        // add new message
        loading_icon.insertAdjacentHTML(
            "afterend",
            `<p class="flash-message">${message}</p>`
        )
    }
    
    async function load_profile() {
        const resp = await fetch("{{ url_for('fetch_own_profile') }}", {method: "GET"})

        const is_json = resp.headers.get("Content-Type") === "application/json"
        const resp_content = await (is_json ? resp.json() : resp.text())

        // signout if the currently logged in user doesnt exist in db
        switch (resp.status) {
            case 200:
                display_name_input.value = resp_content["display_name"]
                username_input.value = "@" + resp_content["username"]

                pfp_img.classList.remove("hidden")
                update_profile_form.classList.remove("hidden")
                signout_button.classList.remove("hidden")
                loading_icon.classList.add("hidden")
                break

            case 404:
                window.location = "{{ url_for('signout') }}"
                break
            
            default:
                show_message(resp_content)
        }
    }

    load_profile()

</script>
{% endblock %}
