// global
$font-color: #c0c0c0;
$secondary-font-color: #787878;
$icon-color: $font-color;
$background-color: #1b1b1b;
$button-hover-color: #313131;
$button-active-color: #2b2b2b;
$green-button-background-color: #367900;
$green-button-hover-color: #469b00;
$green-button-active-color: #2b5f00;
$border-radius: 24px;
$popup-background-color: #222222d5;

// primary sidebar
$sidebar-width: 32.5%;
$sidebar-width-small: 23%;
$sidebar-item-width: 16%;
$sidebar-item-height: 60px;
$sidebar-item-icon-size: 30px;
$sidebar-top-icon-size: 40px;
$sidebar-item-row-gap: 15px;

// general content related
$content-width: 100% - $sidebar-width*2;
$content-border-color: $font-color;
$content-border-width: 1px;
$default-border: $content-border-width $content-border-color solid;
$content-header-height: 50px;

// content - feed
$feed-post-pfp-strip-width: 40px;
$feed-post-engagement-bar-height: 20px;

// content - post
$post-margin-right: 5px;
$post-reply-half-margin: 10px;
$post-like-color: #ff3333;

// chat
$chat-message-sent-background-color: #008000;
$chat-message-received-background-color: #424242;
$chat-message-content-max-width: 60%;
