@import "variables";

body {
    background-color: $background-color;
    margin: 0;
}

#sidebar {
    position: absolute;
    height: 100vh;
    width: $sidebar-item-width;

    user-select: none;

    margin-left: $sidebar-width - $sidebar-item-width;
    padding: 10px 10px 0 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    row-gap: $sidebar-item-row-gap;

    >.item {
        height: $sidebar-item-height;
        align-self: flex-start;

        cursor: pointer;
        border-radius: $border-radius;

        display: flex;
        align-items: center;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        color: $font-color;

        // item icon
        >.icon {
            color: $icon-color;
            width: $sidebar-item-height;
            height: $sidebar-item-height;
            padding: ($sidebar-item-height - $sidebar-item-icon-size)/2;
            box-sizing: border-box;
        }

        // make the top icon slightly bigger than the other icons
        &.top-icon>img {
            padding: ($sidebar-item-height - $sidebar-top-icon-size)/2;
        }

        // aka the buttons that redirect to other sites
        &.transparent-button:not(.top-icon) {
            padding-right: ($sidebar-item-height - $sidebar-item-icon-size)/2;

            // make the active item's text bigger and bold
            &.active-item {
                font-size: 18px;
                font-weight: bold;
            }

            &:not(.active-item) {
                text-decoration: none;
            }
        }

        &.post-button {
            justify-content: center;
            background-color: $sidebar-post-button-background-color;
    
            font-size: 18px;
            font-weight: bold;
    
            align-self: normal;

            // make the post button change color on hover or press
            &:hover {background-color: $sidebar-post-button-hover-color;}
            &:active {background-color: $sidebar-post-button-active-color;}    

        }
    }
}

#content {
    position: absolute;
    height: 100vh;
    width: $content-width;
    left: $sidebar-width;

    padding-bottom: 20px;

    border-left: $default-border;
    border-right: $default-border;

    box-sizing: border-box;
    overflow: scroll;
}

#post-popup {
    background-color: $popup-background-color;
    z-index: 1;

    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    >.transparent-button {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;

        margin: 10px;
        color: $icon-color;
        border-radius: $border-radius;
    }

    >.content {
        cursor: default;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: $background-color;
        border: $default-border;
        border-radius: $border-radius;

        color: $font-color;

        >h1 {
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 40px;
        }

        >#post-creation-form {
            min-width: 500px;

            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            align-items: center;

            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        #post-text-input {
            resize: none;
            
            width: 80%;
            height: 200px;

            padding: 8px;
            box-sizing: border-box;
    
            background-color: transparent;
            color: $font-color;
    
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15px;
            
            outline: none;
            border: $default-border;
            border-radius: $border-radius;
        }

        >#post-creation-form > div {
            height: 40px;

            border: $default-border;
            border-radius: $border-radius;
            padding: 10px;

            display: flex;
            align-items: center;
            
            >input {
                height: min-content;
            }

            >.transparent-button {
                height: 100%;
                aspect-ratio: 1;
                border-radius: 100%;
            }
        }

        .post-button {
            width: 40%;
            height: 60px;

            cursor: pointer;

            border: none;
            border-radius: $border-radius;
            background-color: $sidebar-post-button-background-color;
    
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 18px;
            font-weight: bold;
            color: $font-color;

            margin: 20px 0px 20px 0px;

            display: flex;
            justify-content: center;
            align-items: center;

            // make the post button change color on hover or press
            &:hover {background-color: $sidebar-post-button-hover-color;}
            &:active {background-color: $sidebar-post-button-active-color;}
        }
    }
}


.transparent-button {cursor: pointer;}
.transparent-button:hover {background-color: $button-hover-color;}
.transparent-button:active {background-color: $button-active-color;}

.hidden {display: none !important;}
.pointer-events-off {pointer-events: none !important;}