@import "variables";

* {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
p,a,h1,div,input,textarea {color: $font-color;}
svg {color: $icon-color;}

html {
    scrollbar-width: none
}

body {
    background-color: $background-color;
    margin: 0;

    display: flex;
    flex-direction: row;
}

#sidebar {
    position: fixed;

    height: 100vh;
    width: $sidebar-item-width;

    user-select: none;

    margin: 0 0 0 $sidebar-width - $sidebar-item-width;
    padding: 10px 10px 0 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    row-gap: $sidebar-item-row-gap;

    &.layout-small {
        width: $sidebar-width-small;
        padding-left: 10px;
        margin-left: 0;
    }

    >.item {
        height: $sidebar-item-height;
        align-self: flex-start;

        cursor: pointer;
        border-radius: $border-radius;

        display: flex;
        align-items: center;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;

        // item icon
        >.icon {
            width: $sidebar-item-height;
            height: $sidebar-item-height;
            padding: ($sidebar-item-height - $sidebar-item-icon-size)/2;
            box-sizing: border-box;
        }

        // make the top icon slightly bigger than the other icons
        &.top-icon>.icon {
            padding: ($sidebar-item-height - $sidebar-top-icon-size)/2;
            border-radius: 100%;
        }

        // aka the buttons that redirect to other sites
        &.transparent-button:not(.top-icon) {
            padding-right: ($sidebar-item-height - $sidebar-item-icon-size)/2;

            // make the active item's text bigger and bold
            &.active-item {
                font-size: 18px;
                font-weight: bold;
            }

            &:not(.active-item) {
                text-decoration: none;
            }
        }

        &.post-button {
            justify-content: center;
            background-color: $green-button-background-color;
    
            font-size: 18px;
            font-weight: bold;
    
            align-self: normal;

            // make the post button change color on hover or press
            &:hover {background-color: $green-button-hover-color;}
            &:active {background-color: $green-button-active-color;}    

        }
    }
}

#content {
    position: relative;
    flex-grow: 1;
    height: 100%;
    min-height: 100vh;
    max-width: $content-width;

    margin-left: $sidebar-width;
    padding-bottom: 20px;

    border-left: $default-border;
    border-right: $default-border;

    box-sizing: border-box;

    &.layout-small {
        max-width: 100%;
        margin-left: $sidebar-width-small;
        border-right: none;
    }

    >#content-header {
        width: 100%;
        height: $content-header-height;
    
        padding: 5px;
        box-sizing: border-box;
    
        display: flex;
        align-items: center;
        column-gap: 10px;
        flex-shrink: 0;
    
        font-weight: bold;
        font-size: 24px;

        &.back-button-disabled {justify-content: center;}
    
        >.back-button {
            height: 100%;
            aspect-ratio: 1;
    
            >.icon {
                height: 100%;
                aspect-ratio: 1;
        
                border-radius: 100%;
        
                padding: 5px;
                box-sizing: border-box;
            }
        }
    }
}

#post-popup {
    background-color: $popup-background-color;
    z-index: 1;

    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    >.transparent-button {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;

        margin: 10px;
        border-radius: $border-radius;
    }

    >.content {
        cursor: default;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: $background-color;
        border: $default-border;
        border-radius: $border-radius;

        >h1 {
            text-align: center;
            font-size: 40px;
        }

        >#post-creation-form {
            min-width: 500px;

            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #post-body-input {
            resize: none;
            
            width: 80%;
            height: 200px;

            padding: 8px;
            box-sizing: border-box;
    
            background-color: transparent;
            font-size: 15px;
            
            outline: none;
            border: $default-border;
            border-radius: $border-radius;
        }

        >#post-creation-form > div {
            height: 40px;

            border: $default-border;
            border-radius: $border-radius;
            padding: 10px;

            display: flex;
            align-items: center;
            
            #post-image-input {
                height: min-content;
                max-width: 350px;
            }

            >.transparent-button {
                height: 100%;
                aspect-ratio: 1;
                border-radius: 100%;
            }
        }

        .post-button {
            width: 40%;
            height: 60px;

            cursor: pointer;

            border: none;
            border-radius: $border-radius;
            background-color: $green-button-background-color;
    
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 18px;
            font-weight: bold;

            margin: 20px 0px 20px 0px;

            display: flex;
            justify-content: center;
            align-items: center;

            // make the post button change color on hover or press
            &:hover {background-color: $green-button-hover-color;}
            &:active {background-color: $green-button-active-color;}
        }
    }
}


.transparent-button {
    cursor: pointer;

    &:hover {background-color: $button-hover-color;}
    &:active {background-color: $button-active-color;}
}

.green-button {
    cursor: pointer;

    border: none;
    border-radius: $border-radius;
    background-color: $green-button-background-color;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    // make the green button change color on hover or press
    &:hover {background-color: $green-button-hover-color;}
    &:active {background-color: $green-button-active-color;}

    user-select: none;
}

#image-inspector {
    background-color: $popup-background-color;
    z-index: 1;
    
    cursor: pointer;
    user-select: none;

    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    >img {
        cursor: default;
        pointer-events: none;
        object-fit: contain;

        max-width: 70%;
        max-height: 80%;

        flex-grow: 1;
        text-align: center;
    }

    >.transparent-button {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;

        margin: 10px;
        border-radius: $border-radius;
    }
}

.flash-message {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;

    width: 80%;
    margin: 10px auto 5px auto;
}

.loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    >svg {
        width: 50%;
        max-width: 150px;
        aspect-ratio: 1;

        margin: 15% 0 15% 0;

        animation: spin 1s linear infinite, delayed-fade-in 1s linear forwards;
    }
}

.load-content-button {
    height: 30px;
    width: 50%;

    flex-shrink: 0;

    margin: 20px auto 5px auto;
}

.hidden {display: none !important;}
.pointer-events-off {pointer-events: none !important;}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes delayed-fade-in {
    0% {opacity: 0%;}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}
