@import "variables";

#content {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#message-container {
    flex-grow: 1;
    margin: 15px 5px 15px 5px;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    row-gap: 5px;

    >.message {
        width: 100%;

        display: flex;
        flex-direction: column;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: $font-color;

        >.sent, >.received {
            max-width: 60%;
            height: 100%;

            border-radius: $border-radius;

            display: flex;

            >p {
                margin: 0;
                max-width: 100%;
                height: 100%;

                word-break: break-all;
                white-space: normal;

                margin: 10px;
            }
        }

        >.sent {
            align-self: flex-end;
            background-color: green;
        }
        >.received {
            align-self: flex-start;
            background-color: $chat-message-received-background-color;
        }
    }
}

#new-message-form {
    height: 85px;

    margin-left: 10px;

    display: flex;
    align-items: center;

    >#message-text-input {
        resize: none;
        
        flex-grow: 1;
        height: 100%;

        margin: 0;
        padding: 8px;
        box-sizing: border-box;

        background-color: transparent;
        color: $font-color;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        
        outline: none;
        border: $default-border;
        border-radius: $border-radius;
    }
    
    >button {
        background-color: transparent;
        height: 60%;
        aspect-ratio: 1;

        border-radius: 100%;
        border: 6px;
        outline: 0;

        >.icon {
            color: $font-color;

            width: 100%;
            height: 100%;
            border-radius: 100%;

            padding: 4px;
            box-sizing: border-box;

            transform: scaleX(-1);
        }
    }
}