@import "variables";

#content {
    display: flex;
    flex-direction: column;
    justify-content: end;

    max-height: 100vh;
}

#message-container {
    flex-grow: 1;
    margin: 15px 5px 15px 5px;
    overflow: scroll;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
    row-gap: 5px;

    >.load-content-button {
        margin-top: 10px;
    }
}

#new-message-form {
    height: 85px;

    margin-left: 10px;

    display: flex;
    align-items: center;
    flex-shrink: 0;

    >#message-text-input {
        resize: none;
        
        flex-grow: 1;
        height: 100%;

        margin: 0;
        padding: 8px;
        box-sizing: border-box;

        background-color: transparent;
        font-size: 15px;
        
        outline: none;
        border: $default-border;
        border-radius: $border-radius;
    }
    
    >button {
        background-color: transparent;
        height: 60%;
        aspect-ratio: 1;

        border-radius: 100%;
        border: 6px;
        outline: 0;

        >.icon {
            width: 100%;
            height: 100%;
            border-radius: 100%;

            padding: 4px;
            box-sizing: border-box;

            transform: scaleX(-1);
        }
    }
}