@import "variables";

.post {
    background-color: $feed-post-background-color;
    width: 100%;
    // height: 400px;

    display: flex;

    >.pfp-stripe {
        // background-color: green;
        max-width: $feed-post-pfp-stripe-width;
        min-width: $feed-post-pfp-stripe-width;

        >img {
            width: 100%;
            object-fit: scale-down;
            
            padding: 3px;
            box-sizing: border-box;

            border-radius: 100%;
        }
    }

    >.content {
        // background-color: purple;
        flex-grow: 1;

        p {
            margin: 0;
        }

        >.user {
            display: flex;
            align-items: end;
            column-gap: 5px;

            height: $feed-post-pfp-stripe-width/2;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            >.display-name {
                font-size: 18px;
                color: $font-color;
            }

            >.username {
                font-size: 14px;
                color: $secondary-font-color;
            }
        }

        >.post-body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            color: $font-color;
        }

        >.img-container {
            // background-color: green;

            display: flex;
            justify-content: center;

            padding: 10px;
            box-sizing: border-box;

            >img {
                // background-color: orange;
                width: 80%;
                aspect-ratio: 1;

                border-radius: $border-radius;
                background-color: $background-color;
            }
        }
    }
}