@import "variables";

* {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
p,a,h1,div,input,textarea {color: $font-color;}
svg {color: $icon-color;}

body {
    margin: 0;

    cursor: default;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $background-color;

    >#top-icon {
        position: absolute;
        top: 0;
        left: 0;

        width: 60px;
        aspect-ratio: 1;

        margin: 20px;
        padding: 5px;
        box-sizing: border-box;

        border-radius: 100%;
    }
}

h1 {
    text-align: center;
    font-size: 40px;
}

#goto-signup-form, #goto-login-form {
    color: $secondary-font-color;
    text-align: center;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}


#login-form, #signup-form {
    min-width: 300px;

    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 20px;

    >#display-name,
    >#username,
    >#email,
    >#password {
        background-color: green;

        width: 80%;
        resize: none;

        padding: 8px;
        box-sizing: border-box;

        background-color: transparent;
        font-size: 15px;
        
        outline: none;
        border: $default-border;
        border-radius: $border-radius;
    }

    >#submit {
        width: 80%;
        height: 60px;

        cursor: pointer;

        border: none;
        border-radius: $border-radius;
        background-color: $green-button-background-color;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: bold;

        margin: 20px 0px 20px 0px;

        display: flex;
        justify-content: center;
        align-items: center;

        // make the post button change color on hover or press
        &:hover {background-color: $green-button-hover-color;}
        &:active {background-color: $green-button-active-color;}
    }
}

.hidden {display: none !important;}