@import "variables";

#content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#post-header {
    width: 100%;
    height: $post-header-height;

    padding: 5px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    column-gap: 10px;

    color: $font-color;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;

    >a {
        height: 100%;
        aspect-ratio: 1;

        >.icon {
            color: $font-color;

            height: 100%;
            aspect-ratio: 1;
    
            border-radius: 100%;
    
            padding: 5px;
            box-sizing: border-box;
        }
    }
}

#new-reply-form {
    height: 85px;

    margin-left: 10px;

    display: flex;
    align-items: center;

    >#reply-text-input {
        resize: none;
        
        flex-grow: 1;
        height: 100%;

        margin: 0;
        padding: 8px;
        box-sizing: border-box;

        background-color: transparent;
        color: $font-color;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        
        outline: none;
        border: $default-border;
        border-radius: $border-radius;
    }
    
    >button {
        background-color: transparent;
        height: 60%;
        aspect-ratio: 1;

        border-radius: 100%;
        border: 6px;
        outline: 0;

        >.icon {
            color: $font-color;

            width: 100%;
            height: 100%;
            border-radius: 100%;

            padding: 4px;
            box-sizing: border-box;

            transform: scaleX(-1);
        }
    }
}

#past-reply-container {
    display: flex;
    flex-direction: column;
    row-gap: $post-reply-row-gap;
}