@import "variables";

#content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#new-reply-form {
    height: 85px;

    margin-left: 10px;

    display: flex;
    align-items: center;

    >#reply-text-input {
        resize: none;
        
        flex-grow: 1;
        height: 100%;

        margin: 0;
        padding: 8px;
        box-sizing: border-box;

        background-color: transparent;
        font-size: 15px;
        
        outline: none;
        border: $default-border;
        border-radius: $border-radius;
    }
    
    >#submit-wrapper {
        position: relative;
        
        height: 60%;
        aspect-ratio: 1;

        >.icon {
            position: absolute;

            width: 100%;
            height: 100%;
            border-radius: 100%;

            padding: 4px;
            box-sizing: border-box;

            transform: scaleX(-1);
        }

        >#submit {
            position: absolute;
            background-color: transparent;

            cursor: pointer;

            width: 100%;
            height: 100%;

            border-radius: 100%;
            border: none;
        }
    }
}

#past-reply-container {
    display: flex;
    flex-direction: column;
}