@import "variables";

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pfp {
    width: 60%;
    aspect-ratio: 1;

    border: $default-border;
    border-radius: 100%;

    margin-top: 25px;
    padding: 5px;
    box-sizing: border-box;

    object-fit: contain;
}

#update-profile-form {
    display: flex;
    flex-direction: column;

    width: 70%;

    >label {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    >#pfp-input {
        margin: auto;
        max-width: 100%;
    }

    >#display-name-input, >#username-input {
        resize: none;

        margin: 5px 0 0 0;
        padding: 8px;
        box-sizing: border-box;

        background-color: transparent;
        font-size: 15px;
        
        outline: none;
        border: $default-border;
        border-radius: $border-radius;
    }
}

#signout-button {
    width: 55%;
    height: 40px;

    margin-bottom: 10px;
}

.green-button {
    margin-top: 20px;
    height: 60px;
}
