@import "variables";

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pfp {
    width: 60%;
    aspect-ratio: 1;

    border: $default-border;
    border-radius: 100%;

    padding: 5px;
    box-sizing: border-box;

    margin-top: 25px;
}

#update-profile-form {
    display: flex;
    flex-direction: column;

    width: 70%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $font-color;

    >label {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    >#pfp-input {
        margin: auto;
        max-width: 100%;
    }

    >#display-name-input, >#username-input {
        resize: none;

        margin: 5px 0 0 0;
        padding: 8px;
        box-sizing: border-box;

        background-color: transparent;
        color: $font-color;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        
        outline: none;
        border: $default-border;
        border-radius: $border-radius;
    }

    >#update-profile-button {
        margin-top: 20px;

        height: 60px;

        cursor: pointer;

        border: none;
        border-radius: $border-radius;
        background-color: $sidebar-post-button-background-color;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: $font-color;

        display: flex;
        justify-content: center;
        align-items: center;

        // make the post button change color on hover or press
        &:hover {background-color: $sidebar-post-button-hover-color;}
        &:active {background-color: $sidebar-post-button-active-color;}
    }
}