{% import "components/_post_template.html" as post_template %}

{% macro style() %}
<link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='styles/components/feed.css') }}">
{{ post_template.style() }}
{% endmacro %}

{% macro script() %}
<script src="{{ url_for('static', filename='scripts/load_content.js') }}"></script>
{% endmacro %}

{# single_post_id is only used if is_timeline is false #}
{% macro content(is_timeline, single_post_id, user_is_admin = False) %}
<div id="feed" class="{{'timeline-feed' if is_timeline else ''}}">
    <div id="image-inspector" class="hidden">
        <img src="" alt="Post image">
        <svg class="transparent-button"><use href="{{ url_for('static', filename='img/sprites.svg') }}#icon-x"></use></svg>

        <script>
            let image_inspector = document.getElementById("image-inspector")
            image_inspector.addEventListener("click", () => {image_inspector.classList.add("hidden") ; image_inspector.querySelector("img").setAttribute("src", "")})
            image_inspector.firstElementChild.addEventListener("click", (event) => {event.stopPropagation()})
        </script>
    </div>

    <div id="post-parent"></div>

    <div id="load-posts-button" class="load-content-button green-button hidden">Load more</div>

    <div id="loading-icon-post" class="loading-icon"><svg><use href="{{ url_for('static', filename='img/sprites.svg') }}#icon-loading"></svg></div>

    {% set post_template_html = post_template.content(
        user_header_parent_id = "[post-element-id]",
        user_header_parent_class = "post" + (" timeline-feed" if is_timeline else ""),
        user_is_admin = user_is_admin
    ) %}

    <script>
        function like_post(post_id) {
            let like_post_url = `{{ url_for("like_post") }}`
            let unlike_post_url = `{{ url_for("unlike_post") }}`

            let like_parent = document.querySelector(`#post-${post_id} .like-parent`)
            let action = like_parent.classList.contains("active") ? "dislike" : "like"

            if (like_parent.classList.contains("disabled")) {
                return
            }

            console.log(action + " " + post_id)

            like_parent.classList.toggle("active")

            // update like label
            let like_p = like_parent.lastElementChild
            let old_like_count = parseInt(like_p.innerHTML)
            let client_like_count_change = action === "like" ? 1 : -1
            like_p.innerHTML = old_like_count + client_like_count_change

            // disable the like button for some time to prevent spamming
            like_parent.classList.add("disabled")
            new Promise(resolve => setTimeout(resolve, 400))
                .then(() => like_parent.classList.remove("disabled"))

            // tell the server about the like or unlike
            fetch(action === "like" ? like_post_url : unlike_post_url, {
                method: "POST",
                body: JSON.stringify({"post_id": post_id}),
                headers: {"Content-Type": "application/json"}
            })
                .then(resp => {
                    let is_json = resp.headers.get('Content-Type') === "application/json"
                    return Promise.all([is_json ? resp.json() : resp.text(), resp])
                })
                .then((resp_data) => {
                    resp_content = resp_data[0]
                    resp = resp_data[1]

                    if (!resp.ok) {console.log(resp_content)}

                    // undo the like in 150 ms to tell the user that something
                    // went wrong as long as the error wasn't a conflict error.
                    // conflict error means that the user had already liked this
                    // post
                    if (!resp.ok && resp.status !== 409) {
                        new Promise(resolve => setTimeout(resolve, 150))
                            .then(() => {
                                like_parent.classList.toggle("active")
                                like_p.innerHTML = old_like_count
                            })
                    }
                })
        }

        function open_post(post_id) {
            window.location = `{{ url_for("post") }}/${post_id}`
        }

        function load_posts() {
            // load new posts and update cursor position
            let post_parent = document.getElementById("post-parent")
            return load(
                is_timeline ? (timeline_fetch_url + post_cursor_position) : post_fetch_url,
                "post",
                post_parent,
                `{{ post_template_html }}`
            ).then((last_post) => {
                document.getElementById("loading-icon-post").classList.add("hidden")

                // set post cursor position to the post id of the last loaded post
                if (last_post) {
                    post_cursor_position = last_post.post_id
                }
                // if nothing was loaded and this feed is of type 'post' then
                // something went wrong, hence redirect to timeline
                else if (!is_timeline) {
                    window.location = "{{ url_for('timeline') }}"
                }

                // theres more posts to fetch and this is a timeline
                let no_more_to_load = last_post && last_post.post_idx === 1
                if ( no_more_to_load || post_cursor_position === 0 || !is_timeline ) {
                    document.getElementById("load-posts-button").classList.add("hidden")
                }
                // nothing was loaded or theres no more posts to fetch
                else {
                    document.getElementById("load-posts-button").classList.remove("hidden")
                }
            })
        }

        let is_timeline = `{{ is_timeline }}` === "True"
        let post_cursor_position = 0

        let timeline_url = `{{ url_for('timeline') }}`
        let base_post_img_url = `{{ url_for('uploads', category='post_images') }}`
        let timeline_fetch_url = `{{ url_for('fetch_posts') }}?cursor=`
        let post_fetch_url = `{{ url_for('fetch_post') }}?post_id={{ single_post_id }}`
        let delete_post_url = `{{ url_for('delete_post') }}?post_id=`

        document.getElementById("load-posts-button").addEventListener("click", () => {
            document.querySelectorAll(".flash-message").forEach(
                (element) => element.remove()
            )
            load_posts()
        })
        
        load_posts()
    </script>
</div>
{% endmacro %}
