{% macro style() %}
<link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='styles/components/message.css') }}">
{% endmacro %}

{% macro content() %}
<div class="message [message-origin]">
    <p class="content">[message-body]</p>
    <p class="date-sent">[date]</p>
</div>
{% endmacro %}
