{% macro style() %}
<link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='styles/components/user_header.css') }}">
{% block style %}{% endblock %}
{% endmacro %}

{% macro content(
    user_header_include_date_label = True,
    user_header_single_line = True,
    user_header_parent_id = "",
    user_header_parent_class = "",
    user_is_admin = False)
%}
<div id="{{ user_header_parent_id }}" class="{{ user_header_parent_class }}">
    <div class="pfp-strip">
        <img src="{{ url_for('uploads', category='user-pfps') }}/[user-id].png" alt="User's profile picture">
    </div>
    <div class="content">
        <div class="user{{ ' single-line' if user_header_single_line else '' }}">
            <p class="display-name">[display-name]</p>
            <p class="username">[username]</p>
            {% if user_header_single_line %}
            <div class="meta-container">
                {% if user_header_include_date_label %}<p class="date-posted">[date]</p>{% endif %}
                {% if user_is_admin %}<svg title="Delete" class="delete-button transparent-button"><use href="{{ url_for('static', filename='img/sprites.svg') }}#icon-x"></use></svg>{% endif %}
            </div>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </div>
</div>
{% endmacro %}
